![texto alternativo](https://raw.githubusercontent.com/Chilangdon20/PYTHON/master/Curso%20Basico/CursoExpress/Imagenes/PANDAS.jpg)

# Optimización Basica en Pandas.

## Introdución:

Hasta ahora nos hemos centrado en las estructuras de datos integradas en Python,ahora cambiaremos de marcha y nos centraremos en una de las heramientas de análisis de datos más populares: El PANDAS DATAFRAME.

Cabe mencionar que es necesario que estes familizarizado con Pandas antes de continuar, de lo contrario te recomiendo estudiar un poco acerca de esta libreria.

Recordemos que pandas es una biblioteca utilizada para el análisis de datos, la construcción principal de pandas es el *DataFrame* , una estructura de datos tabular y con filas y columnas etiquetadas.

En esta lectura nos centraremos en los mejores enfoques para iterar sobre un DataFrame.
 
Comencemos analizando un conjunto de datos de Major League Baseball,el dataset contiene estadisticas del equipo para cada equipo de Major League Baseball del año 1962 a 2012.

La columna de equipo es el nombre abreviado de cada equipo de béisbol, el mprimer equipo representa a los Dimondbacks de Arizona(ARI),todas las columnas de este dataframe representan estadísticas especifícas para cada equipo en un año o temporada determinados.

Por ahora nos centraremos en la columna W , que especifica la cantdad de victorias que tuvo un equipo y la columna G que contiene la cantidad de juegos que un equipo jugo en una temporada.

In [2]:
import pandas as pd
data = pd.read_csv("https://assets.datacamp.com/production/repositories/3581/datasets/779033fb8fb5021aee9ff46253980abcbc5851f3/baseball_stats.csv")

In [ ]:
print(data.head())

  Team League  Year   RS   RA  ...  RankSeason  RankPlayoffs    G   OOBP   OSLG
0  ARI     NL  2012  734  688  ...         NaN           NaN  162  0.317  0.415
1  ATL     NL  2012  700  600  ...         4.0           5.0  162  0.306  0.378
2  BAL     AL  2012  712  705  ...         5.0           4.0  162  0.315  0.403
3  BOS     AL  2012  734  806  ...         NaN           NaN  162  0.331  0.428
4  CHC     NL  2012  613  759  ...         NaN           NaN  162  0.335  0.424

[5 rows x 15 columns]

In [ ]:
# Observamos todos los nombres de las columnas
print(data.columns.values)

['Team' 'League' 'Year' 'RS' 'RA' 'W' 'OBP' 'SLG' 'BA' 'Playoffs'
 'RankSeason' 'RankPlayoffs' 'G' 'OOBP' 'OSLG']

Una estadistica popular utilizada para evaluar el rendimiento de un equipo para una temporada determinada es el porcentaje de victorias del equipo, esta métrica se calcula dividiendo las victorias totales de un equipo por el número de juegos jugados,para esto haremos una simple función para realizar este cálculo.

In [4]:
import numpy as np

def calc_vict_porc(vict,juegos_jugados):

  vict_porcentaje = vict / juegos_jugados

  return np.round(vict_porcentaje,2)

Si un equipo gana 50 de cada 100 juegos , vemos que nuestra función retorna el resultado correcto.

In [ ]:
vict_porce = calc_vict_porc(50,100)
print(vict_porce)

0.5

Nos gustaria crear una nueva columna a nuestro DataFrame ``data`` que almacene el porcentaje de victorias de cada equipo durante una temporada, para hacer esto necesitaremos iterar sobre las filas del dataframe y aplicar nuestra función creada anteriormente.

Primero creamos una lista vacia para almacenar todos los porcentajes de victorias que calcularemos , despues escribiremos un loop que iterará sobre cada fia del DataFrame.


**IMPORTANTE** veanos que estamos usando una variable de indice *i* que varia desde cero hasta el número de filas que existen dentro del DataFrame.

Luego usaoms el método ``.iloc`` para buscar cada fila individual dentro del dataframe usando la variable del índice.

Ahora tomaremos las victorias y los juegos de cada equipo haciendo referencia a las columnas ``W`` & ``G``.Despues pasamos las victorias y los juegos del equipo a nuestra lista vacia para calculas los porcentajes de victorias.

Finalmente ,agregamos a nuestra lista ``.append()``y continuamos el ciclo.

Creamos nuestra columna deseada  en el DataFrame llamada ``WP``, estableciendo el valor de la columna igual a ``vict_poc_list``

In [ ]:
vict_poc_list = []

for i in range(len(data)):

  row = data.iloc[i]

  vict = row['W']
  juegos_jugados = row['G']

  vict_porc = calc_vict_porc(vict,juegos_jugados)

  vict_poc_list.append(vict_porc)

data['WP'] = vict_poc_list

In [ ]:
print(data.head())

  Team League  Year   RS   RA  ...  RankPlayoffs    G   OOBP   OSLG    WP
0  ARI     NL  2012  734  688  ...           NaN  162  0.317  0.415  0.50
1  ATL     NL  2012  700  600  ...           5.0  162  0.306  0.378  0.58
2  BAL     AL  2012  712  705  ...           4.0  162  0.315  0.403  0.57
3  BOS     AL  2012  734  806  ...           NaN  162  0.331  0.428  0.43
4  CHC     NL  2012  613  759  ...           NaN  162  0.335  0.424  0.38

[5 rows x 16 columns]

Al imprimir las cinco filas de nuestro DataFrame , vemos que ahora aparece la columna de porcentaje de victorias.

Recorres el dataframe con ``.iloc`` nos dio el resultado deseado pero... ¿ Es eficiente?

In [ ]:
%%timeit
vict_poc_list = []

for i in range(len(data)):

  row = data.iloc[i]

  vict = row['W']
  juegos_jugados = row['G']

  vict_porc = calc_vict_porc(vict,juegos_jugados)

  vict_poc_list.append(vict_porc)

data['WP'] = vict_poc_list

1 loop, best of 3: 273 ms per loop

Al estimar el tiempo de ejecución , ``.iloc`` tomo 273 milisegundos , lo cual es bastante ineficiente.Pero no todo esta perdido ya que panda viene con algunos métodoe eficientes para recorrer un DataFrame.

El primer método que analizaremos sera el método ``.iterrows()``.

## ``.iterrows()``

Este método es similar al metodo ``.iloc()``, pero ``.iterrows()`` devuelve cada fila del DatafFrame como una tupla de pares, esto significa que cada objeto devuelto por ``.iterrows()``contiene el indice de cada fila como el mprimer elemento y los datos en cada fila como una serie de pandas como el segundo elemento.

In [ ]:
vict_porcent_lista = []
for i,row in data.iterrows():

Veamos que ya creamos la lista vacia pero ahora tenemos que crear una variable de indice para buscar cada fila dentro del DataFrame, afortunadamente ``.iterrows()``maneja la indexación por nosotros, el resto del ciclo permanece exatcamente igual que el anterior.

In [ ]:
vict_porcent_lista = []

for i,row in data.iterrows():

   vict = row['W']
   juegos_jugados = row['G']

   vict_porc = calc_vict_porc(vict, juegos_jugados)

   vict_porcent_lista.append(vict_porc)

data['WP'] = vict_porcent_lista

In [ ]:
print(vict_porcent_lista)

[0.5, 0.58, 0.57, 0.43, 0.38, 0.52, 0.6, 0.42, 0.4, 0.54, 0.34, 0.44, 0.55, 0.53, 0.43, 0.51, 0.41, 0.46, 0.59, 0.58, 0.5, 0.49, 0.47, 0.46, 0.58, 0.54, 0.56, 0.57, 0.45, 0.6, 0.58, 0.55, 0.43, 0.56, 0.44, 0.49, 0.49, 0.49, 0.45, 0.59, 0.44, 0.35, 0.44, 0.53, 0.51, 0.59, 0.39, 0.48, 0.6, 0.46, 0.63, 0.44, 0.44, 0.41, 0.53, 0.56, 0.56, 0.59, 0.5, 0.5, 0.4, 0.56, 0.41, 0.55, 0.46, 0.54, 0.56, 0.43, 0.51, 0.5, 0.49, 0.47, 0.41, 0.49, 0.49, 0.48, 0.58, 0.49, 0.59, 0.5, 0.6, 0.35, 0.56, 0.38, 0.57, 0.53, 0.59, 0.56, 0.52, 0.43, 0.43, 0.53, 0.4, 0.59, 0.52, 0.49, 0.48, 0.4, 0.57, 0.53, 0.54, 0.46, 0.4, 0.6, 0.59, 0.49, 0.53, 0.43, 0.64, 0.46, 0.57, 0.39, 0.46, 0.52, 0.54, 0.56, 0.52, 0.54, 0.46, 0.36, 0.51, 0.44, 0.42, 0.59, 0.6, 0.55, 0.46, 0.5, 0.46, 0.46, 0.52, 0.53, 0.46, 0.62, 0.52, 0.56, 0.54, 0.55, 0.55, 0.47, 0.57, 0.41, 0.39, 0.38, 0.44, 0.53, 0.6, 0.49, 0.53, 0.37, 0.56, 0.52, 0.43, 0.59, 0.52, 0.44, 0.44, 0.59, 0.55, 0.54, 0.44, 0.45, 0.43, 0.58, 0.51, 0.51, 0.49, 0.54, 0.58, 0.47, 0.55, 0.42, 0.55, 0.54, 0.44, 0.48, 0.41, 0.46, 0.51, 0.45, 0.47, 0.49, 0.43, 0.53, 0.41, 0.56, 0.49, 0.48, 0.47, 0.59, 0.48, 0.51, 0.38, 0.55, 0.54, 0.46, 0.59, 0.6, 0.6, 0.57, 0.52, 0.41, 0.54, 0.48, 0.47, 0.52, 0.38, 0.49, 0.54, 0.44, 0.48, 0.56, 0.46, 0.59, 0.49, 0.61, 0.45, 0.57, 0.41, 0.44, 0.51, 0.55, 0.35, 0.59, 0.44, 0.5, 0.51, 0.51, 0.59, 0.54, 0.54, 0.41, 0.51, 0.43, 0.46, 0.62, 0.41, 0.49, 0.49, 0.5, 0.57, 0.31, 0.59, 0.48, 0.6, 0.55, 0.51, 0.47, 0.49, 0.42, 0.44, 0.51, 0.57, 0.36, 0.57, 0.42, 0.57, 0.41, 0.44, 0.62, 0.56, 0.53, 0.45, 0.54, 0.39, 0.56, 0.65, 0.43, 0.55, 0.42, 0.48, 0.52, 0.62, 0.44, 0.59, 0.54, 0.53, 0.43, 0.42, 0.46, 0.27, 0.56, 0.54, 0.51, 0.52, 0.42, 0.56, 0.51, 0.41, 0.62, 0.59, 0.53, 0.46, 0.4, 0.57, 0.62, 0.52, 0.39, 0.44, 0.53, 0.61, 0.6, 0.63, 0.41, 0.57, 0.41, 0.5, 0.48, 0.46, 0.45, 0.34, 0.49, 0.52, 0.38, 0.57, 0.35, 0.58, 0.51, 0.47, 0.64, 0.64, 0.5, 0.45, 0.41, 0.57, 0.59, 0.6, 0.34, 0.44, 0.48, 0.46, 0.57, 0.54, 0.39, 0.51, 0.54, 0.51, 0.41, 0.56, 0.45, 0.41, 0.47, 0.57, 0.4, 0.53, 0.42, 0.52, 0.42, 0.51, 0.59, 0.63, 0.53, 0.38, 0.49, 0.72, 0.56, 0.57, 0.38, 0.45, 0.49, 0.51, 0.52, 0.59, 0.46, 0.52, 0.4, 0.59, 0.52, 0.56, 0.51, 0.49, 0.49, 0.44, 0.48, 0.53, 0.45, 0.43, 0.41, 0.58, 0.54, 0.57, 0.4, 0.43, 0.47, 0.56, 0.6, 0.59, 0.43, 0.44, 0.51, 0.43, 0.62, 0.64, 0.48, 0.58, 0.41, 0.46, 0.59, 0.6, 0.44, 0.43, 0.4, 0.6, 0.4, 0.48, 0.46, 0.39, 0.42, 0.6, 0.6, 0.54, 0.48, 0.48, 0.46, 0.49, 0.53, 0.47, 0.43, 0.59, 0.52, 0.52, 0.4, 0.65, 0.49, 0.57, 0.55, 0.49, 0.48, 0.55, 0.48, 0.4, 0.33, 0.63, 0.45, 0.51, 0.46, 0.43, 0.4, 0.54, 0.7, 0.46, 0.46, 0.42, 0.6, 0.47, 0.55, 0.51, 0.39, 0.54, 0.54, 0.52, 0.62, 0.6, 0.48, 0.42, 0.5, 0.47, 0.53, 0.51, 0.49, 0.57, 0.52, 0.42, 0.54, 0.48, 0.42, 0.48, 0.54, 0.59, 0.4, 0.42, 0.49, 0.47, 0.56, 0.56, 0.45, 0.48, 0.47, 0.59, 0.54, 0.52, 0.43, 0.47, 0.52, 0.5, 0.61, 0.51, 0.33, 0.49, 0.51, 0.47, 0.56, 0.49, 0.48, 0.54, 0.44, 0.57, 0.48, 0.41, 0.45, 0.56, 0.53, 0.42, 0.54, 0.55, 0.46, 0.64, 0.52, 0.49, 0.44, 0.52, 0.58, 0.45, 0.47, 0.41, 0.52, 0.4, 0.52, 0.52, 0.5, 0.43, 0.44, 0.58, 0.36, 0.54, 0.42, 0.6, 0.46, 0.38, 0.51, 0.64, 0.54, 0.53, 0.59, 0.6, 0.55, 0.45, 0.44, 0.48, 0.53, 0.56, 0.47, 0.46, 0.5, 0.44, 0.39, 0.57, 0.56, 0.54, 0.44, 0.47, 0.59, 0.43, 0.59, 0.51, 0.4, 0.44, 0.51, 0.48, 0.59, 0.58, 0.41, 0.52, 0.5, 0.48, 0.54, 0.46, 0.35, 0.52, 0.4, 0.51, 0.57, 0.51, 0.59, 0.44, 0.48, 0.44, 0.52, 0.48, 0.6, 0.52, 0.51, 0.46, 0.52, 0.52, 0.56, 0.4, 0.47, 0.54, 0.49, 0.48, 0.58, 0.56, 0.48, 0.49, 0.46, 0.47, 0.53, 0.46, 0.46, 0.52, 0.56, 0.41, 0.64, 0.48, 0.59, 0.46, 0.48, 0.52, 0.43, 0.51, 0.53, 0.39, 0.54, 0.51, 0.56, 0.57, 0.43, 0.46, 0.45, 0.36, 0.53, 0.57, 0.48, 0.5, 0.49, 0.5, 0.54, 0.46, 0.61, 0.41, 0.45, 0.55, 0.45, 0.57, 0.52, 0.51, 0.55, 0.34, 0.34, 0.55, 0.46, 0.47, 0.44, 0.54, 0.48, 0.54, 0.51, 0.52, 0.58, 0.54, 0.56, 0.5, 0.62, 0.53, 0.64, 0.4, 0.53, 0.52, 0.42, 0.51, 0.47, 0.43, 0.54, 0.43, 0.41, 0.48, 0.46, 0.47, 0.48, 0.52, 0.38, 0.6, 0.47, 0.51, 0.45, 0.56, 0.52, 0.56, 0.57, 0.55, 0.5, 0.49, 0.49, 0.4, 0.48, 0.56, 0.59, 0.46, 0.59, 0.45, 0.45, 0.59, 0.57, 0.44, 0.44, 0.53, 0.52, 0.54, 0.59, 0.47, 0.45, 0.48, 0.44, 0.48, 0.67, 0.56, 0.47, 0.53, 0.4, 0.46, 0.41, 0.51, 0.49, 0.54, 0.53, 0.41, 0.52, 0.5, 0.56, 0.48, 0.52, 0.55, 0.37, 0.52, 0.51, 0.56, 0.59, 0.44, 0.48, 0.52, 0.6, 0.6, 0.48, 0.46, 0.35, 0.51, 0.46, 0.38, 0.62, 0.39, 0.61, 0.49, 0.52, 0.53, 0.5, 0.6, 0.46, 0.43, 0.46, 0.64, 0.49, 0.52, 0.49, 0.42, 0.5, 0.48, 0.56, 0.54, 0.48, 0.5, 0.46, 0.57, 0.46, 0.41, 0.52, 0.43, 0.55, 0.54, 0.6, 0.48, 0.43, 0.44, 0.61, 0.46, 0.43, 0.57, 0.52, 0.48, 0.56, 0.54, 0.43, 0.5, 0.42, 0.56, 0.46, 0.55, 0.52, 0.5, 0.37, 0.49, 0.49, 0.47, 0.55, 0.55, 0.58, 0.55, 0.57, 0.45, 0.54, 0.38, 0.48, 0.51, 0.48, 0.56, 0.54, 0.58, 0.37, 0.53, 0.4, 0.49, 0.42, 0.55, 0.52, 0.5, 0.47, 0.54, 0.57, 0.4, 0.48, 0.5, 0.62, 0.52, 0.41, 0.4, 0.43, 0.55, 0.49, 0.52, 0.57, 0.6, 0.56, 0.53, 0.48, 0.56, 0.41, 0.64, 0.51, 0.56, 0.51, 0.45, 0.36, 0.47, 0.46, 0.47, 0.41, 0.41, 0.64, 0.57, 0.54, 0.49, 0.46, 0.56, 0.5, 0.52, 0.55, 0.52, 0.49, 0.59, 0.51, 0.59, 0.39, 0.56, 0.33, 0.52, 0.6, 0.42, 0.41, 0.44, 0.53, 0.51, 0.33, 0.43, 0.56, 0.61, 0.54, 0.49, 0.44, 0.57, 0.43, 0.53, 0.46, 0.57, 0.59, 0.57, 0.45, 0.47, 0.41, 0.61, 0.43, 0.56, 0.55, 0.52, 0.35, 0.55, 0.43, 0.54, 0.37, 0.38, 0.6, 0.6, 0.46, 0.5, 0.56, 0.54, 0.44, 0.46, 0.5, 0.63, 0.6, 0.41, 0.52, 0.46, 0.4, 0.62, 0.39, 0.62, 0.59, 0.43, 0.4, 0.46, 0.51, 0.58, 0.34, 0.43, 0.54, 0.51, 0.47, 0.46, 0.4, 0.63, 0.51, 0.46, 0.49, 0.56, 0.57, 0.41, 0.52, 0.34, 0.53, 0.61, 0.54, 0.62, 0.57, 0.45, 0.46, 0.44, 0.47, 0.42, 0.57, 0.59, 0.45, 0.46, 0.47, 0.67, 0.5, 0.36, 0.4, 0.56, 0.54, 0.42, 0.48, 0.46, 0.51, 0.52, 0.6, 0.53, 0.57, 0.44, 0.5, 0.5, 0.49, 0.54, 0.56, 0.52, 0.42, 0.41, 0.49, 0.6, 0.48, 0.44, 0.5, 0.48, 0.63, 0.47, 0.5, 0.49, 0.44, 0.55, 0.56, 0.49, 0.54, 0.37, 0.44, 0.53, 0.52, 0.47, 0.6, 0.55, 0.49, 0.48, 0.48, 0.61, 0.44, 0.52, 0.51, 0.54, 0.59, 0.46, 0.5, 0.49, 0.51, 0.49, 0.58, 0.44, 0.49, 0.37, 0.54, 0.5, 0.35, 0.51, 0.64, 0.52, 0.47, 0.51, 0.49, 0.49, 0.37, 0.56, 0.49, 0.53, 0.55, 0.43, 0.46, 0.44, 0.51, 0.5, 0.63, 0.41, 0.6, 0.38, 0.56, 0.55, 0.4, 0.47, 0.67, 0.54, 0.53, 0.52, 0.35, 0.63, 0.47, 0.49, 0.49, 0.4, 0.54, 0.4, 0.6, 0.45, 0.51, 0.57, 0.55, 0.45, 0.55, 0.39, 0.53, 0.47, 0.43, 0.57, 0.67, 0.54, 0.44, 0.56, 0.42, 0.55, 0.39, 0.56, 0.5, 0.42, 0.52, 0.6, 0.32, 0.62, 0.49, 0.54, 0.39, 0.54, 0.32, 0.39, 0.56, 0.54, 0.53, 0.5, 0.56, 0.53, 0.41, 0.52, 0.41, 0.51, 0.53, 0.63, 0.44, 0.47, 0.49, 0.45, 0.51, 0.5, 0.47, 0.49, 0.54, 0.6, 0.4, 0.48, 0.47, 0.57, 0.52, 0.54, 0.55, 0.54, 0.46, 0.56, 0.43, 0.39, 0.45, 0.55, 0.38, 0.44, 0.51, 0.5, 0.56, 0.63, 0.47, 0.52, 0.61, 0.44, 0.49, 0.36, 0.51, 0.48, 0.5, 0.54, 0.44, 0.46, 0.59, 0.55, 0.41, 0.44, 0.54, 0.57, 0.58, 0.51, 0.45, 0.58, 0.38, 0.46, 0.44, 0.59, 0.55, 0.54, 0.55, 0.4, 0.36, 0.6, 0.63, 0.53, 0.3, 0.48, 0.52, 0.55, 0.58, 0.49, 0.43, 0.6, 0.44, 0.47, 0.6, 0.56, 0.48, 0.52, 0.41, 0.35, 0.51, 0.49, 0.48, 0.54, 0.33, 0.6, 0.57, 0.49, 0.56, 0.57, 0.38, 0.53, 0.47, 0.51, 0.58, 0.53, 0.49, 0.49, 0.41, 0.45, 0.43, 0.61, 0.57, 0.52, 0.31, 0.65, 0.54, 0.46, 0.54, 0.57, 0.35, 0.48, 0.48, 0.36, 0.52, 0.6, 0.49, 0.53, 0.4, 0.44, 0.53, 0.62, 0.56, 0.53, 0.25, 0.59, 0.5, 0.58, 0.62, 0.52, 0.37]

Podemos observar en la siguiente linea de código que el uso de ``.iterrows()``lleva aproximadamente la mitas de tiempo que ``.iloc()`` para iterar sobre nuestros datos.

In [ ]:
%%timeit
vict_porcent_lista = []

for i,row in data.iterrows():

   vict = row['W']
   juegos_jugados = row['G']

   vict_porc = calc_vict_porc(vict, juegos_jugados)

   vict_porcent_lista.append(vict_porc)

data['WP'] = vict_porcent_lista

10 loops, best of 3: 154 ms per loop



---



---

# Metodo ``itertuples()``

Anteriormente , cubrimos cómo iterar sobre un DataFrame de pandas fila por fila usando el metodo ``.iterrows()`` , pandas también viene con un método de iteraciónn similas llamado ``.itertuples()``.

Supongamos que tenemos un DataFrame de pandas llamado team_wins_df que contiene las victoria totales de cada equipo en una temporada.

In [ ]:
#Seleccionamos las columnas que necesitamos
team_winds_df = data.loc[:,['Team','Year','W']]

print(team_winds_df.head())

  Team  Year   W
0  ARI  2012  81
1  ATL  2012  94
2  BAL  2012  93
3  BOS  2012  69
4  CHC  2012  61

Si usamos ``.iterrows()`` para recorrer nuestro DataFrame e imprimir en la tupla de cada fila , vemos que los valores de cada fila se almcena como una serie de pandas, recordemos que ``.iterrows()`` devuelve cada fila del DataFrame como una tupla de (index,pandas), por lo que tenemos que acceder a los valores de la fila con indexación de corchetes.

In [ ]:
for r_tupla in team_winds_df.iterrows():

  print(r_tupla)
  print(type(r_tupla[1]))

Pero, en su lugar podriamos usar ``.itertuples()``para recorrer nuestras filas del DF.El metodo ``.itertuples()``devuelve cada fila del DataFrame como un tipo de datos especia llamado *namedtuple*-(TuplaNombrada/TN)

Una TN es uno de los tipos de datos especializados que existen dentro del módulo de colecciones que hemos discutido anteriormente.Estos tipos de datos se comportan como una tupla de Python pero tienen campos accesibles mediante la búsqueda de atributos.

¿Que significa esto?
 Veamos en el resultado que cada fila impresa tiene un indice de atributo y cada columna  tambien,estos ignifica que podemos acceder acada uno de estos atributos con una búsqueda utilizando el metodo de puntos.

In [ ]:
for r_namedtuple in team_winds_df.itertuples():
  print(r_namedtuple)

Pandas(Index=0, Team='ARI', Year=2012, W=81)
Pandas(Index=1, Team='ATL', Year=2012, W=94)
Pandas(Index=2, Team='BAL', Year=2012, W=93)
Pandas(Index=3, Team='BOS', Year=2012, W=69)
Pandas(Index=4, Team='CHC', Year=2012, W=61)
Pandas(Index=5, Team='CHW', Year=2012, W=85)
Pandas(Index=6, Team='CIN', Year=2012, W=97)
Pandas(Index=7, Team='CLE', Year=2012, W=68)
Pandas(Index=8, Team='COL', Year=2012, W=64)
Pandas(Index=9, Team='DET', Year=2012, W=88)
Pandas(Index=10, Team='HOU', Year=2012, W=55)
Pandas(Index=11, Team='KCR', Year=2012, W=72)
Pandas(Index=12, Team='LAA', Year=2012, W=89)
Pandas(Index=13, Team='LAD', Year=2012, W=86)
Pandas(Index=14, Team='MIA', Year=2012, W=69)
Pandas(Index=15, Team='MIL', Year=2012, W=83)
Pandas(Index=16, Team='MIN', Year=2012, W=66)
Pandas(Index=17, Team='NYM', Year=2012, W=74)
Pandas(Index=18, Team='NYY', Year=2012, W=95)
Pandas(Index=19, Team='OAK', Year=2012, W=94)
Pandas(Index=20, Team='PHI', Year=2012, W=81)
Pandas(Index=21, Team='PIT', Year=2012, W=79)
Pandas(Index=22, Team='SDP', Year=2012, W=76)
Pandas(Index=23, Team='SEA', Year=2012, W=75)
Pandas(Index=24, Team='SFG', Year=2012, W=94)
Pandas(Index=25, Team='STL', Year=2012, W=88)
Pandas(Index=26, Team='TBR', Year=2012, W=90)
Pandas(Index=27, Team='TEX', Year=2012, W=93)
Pandas(Index=28, Team='TOR', Year=2012, W=73)
Pandas(Index=29, Team='WSN', Year=2012, W=98)
Pandas(Index=30, Team='ARI', Year=2011, W=94)
Pandas(Index=31, Team='ATL', Year=2011, W=89)
Pandas(Index=32, Team='BAL', Year=2011, W=69)
Pandas(Index=33, Team='BOS', Year=2011, W=90)
Pandas(Index=34, Team='CHC', Year=2011, W=71)
Pandas(Index=35, Team='CHW', Year=2011, W=79)
Pandas(Index=36, Team='CIN', Year=2011, W=79)
Pandas(Index=37, Team='CLE', Year=2011, W=80)
Pandas(Index=38, Team='COL', Year=2011, W=73)
Pandas(Index=39, Team='DET', Year=2011, W=95)
Pandas(Index=40, Team='FLA', Year=2011, W=72)
Pandas(Index=41, Team='HOU', Year=2011, W=56)
Pandas(Index=42, Team='KCR', Year=2011, W=71)
Pandas(Index=43, Team='LAA', Year=2011, W=86)
Pandas(Index=44, Team='LAD', Year=2011, W=82)
Pandas(Index=45, Team='MIL', Year=2011, W=96)
Pandas(Index=46, Team='MIN', Year=2011, W=63)
Pandas(Index=47, Team='NYM', Year=2011, W=77)
Pandas(Index=48, Team='NYY', Year=2011, W=97)
Pandas(Index=49, Team='OAK', Year=2011, W=74)
Pandas(Index=50, Team='PHI', Year=2011, W=102)
Pandas(Index=51, Team='PIT', Year=2011, W=72)
Pandas(Index=52, Team='SDP', Year=2011, W=71)
Pandas(Index=53, Team='SEA', Year=2011, W=67)
Pandas(Index=54, Team='SFG', Year=2011, W=86)
Pandas(Index=55, Team='STL', Year=2011, W=90)
Pandas(Index=56, Team='TBR', Year=2011, W=91)
Pandas(Index=57, Team='TEX', Year=2011, W=96)
Pandas(Index=58, Team='TOR', Year=2011, W=81)
Pandas(Index=59, Team='WSN', Year=2011, W=80)
Pandas(Index=60, Team='ARI', Year=2010, W=65)
Pandas(Index=61, Team='ATL', Year=2010, W=91)
Pandas(Index=62, Team='BAL', Year=2010, W=66)
Pandas(Index=63, Team='BOS', Year=2010, W=89)
Pandas(Index=64, Team='CHC', Year=2010, W=75)
Pandas(Index=65, Team='CHW', Year=2010, W=88)
Pandas(Index=66, Team='CIN', Year=2010, W=91)
Pandas(Index=67, Team='CLE', Year=2010, W=69)
Pandas(Index=68, Team='COL', Year=2010, W=83)
Pandas(Index=69, Team='DET', Year=2010, W=81)
Pandas(Index=70, Team='FLA', Year=2010, W=80)
Pandas(Index=71, Team='HOU', Year=2010, W=76)
Pandas(Index=72, Team='KCR', Year=2010, W=67)
Pandas(Index=73, Team='LAA', Year=2010, W=80)
Pandas(Index=74, Team='LAD', Year=2010, W=80)
Pandas(Index=75, Team='MIL', Year=2010, W=77)
Pandas(Index=76, Team='MIN', Year=2010, W=94)
Pandas(Index=77, Team='NYM', Year=2010, W=79)
Pandas(Index=78, Team='NYY', Year=2010, W=95)
Pandas(Index=79, Team='OAK', Year=2010, W=81)
Pandas(Index=80, Team='PHI', Year=2010, W=97)
Pandas(Index=81, Team='PIT', Year=2010, W=57)
Pandas(Index=82, Team='SDP', Year=2010, W=90)
Pandas(Index=83, Team='SEA', Year=2010, W=61)
Pandas(Index=84, Team='SFG', Year=2010, W=92)
Pandas(Index=85, Team='STL', Year=2010, W=86)
Pandas(Index=86, Team='TBR', Year=2010, W=96)
Pandas(Index=87, Team='TEX', Year=2010, W=90)
Pandas(Index=88, Team='TOR', Year=2010, W=85)
Pandas(Index=89, Team='WSN', Year=2010, W=69)
Pandas(Index=90, Team='ARI', Year=2009, W=70)
Pandas(Index=91, Team='ATL', Year=2009, W=86)
Pandas(Index=92, Team='BAL', Year=2009, W=64)
Pandas(Index=93, Team='BOS', Year=2009, W=95)
Pandas(Index=94, Team='CHC', Year=2009, W=83)
Pandas(Index=95, Team='CHW', Year=2009, W=79)
Pandas(Index=96, Team='CIN', Year=2009, W=78)
Pandas(Index=97, Team='CLE', Year=2009, W=65)
Pandas(Index=98, Team='COL', Year=2009, W=92)
Pandas(Index=99, Team='DET', Year=2009, W=86)
Pandas(Index=100, Team='FLA', Year=2009, W=87)
Pandas(Index=101, Team='HOU', Year=2009, W=74)
Pandas(Index=102, Team='KCR', Year=2009, W=65)
Pandas(Index=103, Team='LAA', Year=2009, W=97)
Pandas(Index=104, Team='LAD', Year=2009, W=95)
Pandas(Index=105, Team='MIL', Year=2009, W=80)
Pandas(Index=106, Team='MIN', Year=2009, W=87)
Pandas(Index=107, Team='NYM', Year=2009, W=70)
Pandas(Index=108, Team='NYY', Year=2009, W=103)
Pandas(Index=109, Team='OAK', Year=2009, W=75)
Pandas(Index=110, Team='PHI', Year=2009, W=93)
Pandas(Index=111, Team='PIT', Year=2009, W=62)
Pandas(Index=112, Team='SDP', Year=2009, W=75)
Pandas(Index=113, Team='SEA', Year=2009, W=85)
Pandas(Index=114, Team='SFG', Year=2009, W=88)
Pandas(Index=115, Team='STL', Year=2009, W=91)
Pandas(Index=116, Team='TBR', Year=2009, W=84)
Pandas(Index=117, Team='TEX', Year=2009, W=87)
Pandas(Index=118, Team='TOR', Year=2009, W=75)
Pandas(Index=119, Team='WSN', Year=2009, W=59)
Pandas(Index=120, Team='ARI', Year=2008, W=82)
Pandas(Index=121, Team='ATL', Year=2008, W=72)
Pandas(Index=122, Team='BAL', Year=2008, W=68)
Pandas(Index=123, Team='BOS', Year=2008, W=95)
Pandas(Index=124, Team='CHC', Year=2008, W=97)
Pandas(Index=125, Team='CHW', Year=2008, W=89)
Pandas(Index=126, Team='CIN', Year=2008, W=74)
Pandas(Index=127, Team='CLE', Year=2008, W=81)
Pandas(Index=128, Team='COL', Year=2008, W=74)
Pandas(Index=129, Team='DET', Year=2008, W=74)
Pandas(Index=130, Team='FLA', Year=2008, W=84)
Pandas(Index=131, Team='HOU', Year=2008, W=86)
Pandas(Index=132, Team='KCR', Year=2008, W=75)
Pandas(Index=133, Team='LAA', Year=2008, W=100)
Pandas(Index=134, Team='LAD', Year=2008, W=84)
Pandas(Index=135, Team='MIL', Year=2008, W=90)
Pandas(Index=136, Team='MIN', Year=2008, W=88)
Pandas(Index=137, Team='NYM', Year=2008, W=89)
Pandas(Index=138, Team='NYY', Year=2008, W=89)
Pandas(Index=139, Team='OAK', Year=2008, W=75)
Pandas(Index=140, Team='PHI', Year=2008, W=92)
Pandas(Index=141, Team='PIT', Year=2008, W=67)
Pandas(Index=142, Team='SDP', Year=2008, W=63)
Pandas(Index=143, Team='SEA', Year=2008, W=61)
Pandas(Index=144, Team='SFG', Year=2008, W=72)
Pandas(Index=145, Team='STL', Year=2008, W=86)
Pandas(Index=146, Team='TBR', Year=2008, W=97)
Pandas(Index=147, Team='TEX', Year=2008, W=79)
Pandas(Index=148, Team='TOR', Year=2008, W=86)
Pandas(Index=149, Team='WSN', Year=2008, W=59)
Pandas(Index=150, Team='ARI', Year=2007, W=90)
Pandas(Index=151, Team='ATL', Year=2007, W=84)
Pandas(Index=152, Team='BAL', Year=2007, W=69)
Pandas(Index=153, Team='BOS', Year=2007, W=96)
Pandas(Index=154, Team='CHC', Year=2007, W=85)
Pandas(Index=155, Team='CHW', Year=2007, W=72)
Pandas(Index=156, Team='CIN', Year=2007, W=72)
Pandas(Index=157, Team='CLE', Year=2007, W=96)
Pandas(Index=158, Team='COL', Year=2007, W=90)
Pandas(Index=159, Team='DET', Year=2007, W=88)
Pandas(Index=160, Team='FLA', Year=2007, W=71)
Pandas(Index=161, Team='HOU', Year=2007, W=73)
Pandas(Index=162, Team='KCR', Year=2007, W=69)
Pandas(Index=163, Team='LAA', Year=2007, W=94)
Pandas(Index=164, Team='LAD', Year=2007, W=82)
Pandas(Index=165, Team='MIL', Year=2007, W=83)
Pandas(Index=166, Team='MIN', Year=2007, W=79)
Pandas(Index=167, Team='NYM', Year=2007, W=88)
Pandas(Index=168, Team='NYY', Year=2007, W=94)
Pandas(Index=169, Team='OAK', Year=2007, W=76)
Pandas(Index=170, Team='PHI', Year=2007, W=89)
Pandas(Index=171, Team='PIT', Year=2007, W=68)
Pandas(Index=172, Team='SDP', Year=2007, W=89)
Pandas(Index=173, Team='SEA', Year=2007, W=88)
Pandas(Index=174, Team='SFG', Year=2007, W=71)
Pandas(Index=175, Team='STL', Year=2007, W=78)
Pandas(Index=176, Team='TBD', Year=2007, W=66)
Pandas(Index=177, Team='TEX', Year=2007, W=75)
Pandas(Index=178, Team='TOR', Year=2007, W=83)
Pandas(Index=179, Team='WSN', Year=2007, W=73)
Pandas(Index=180, Team='ARI', Year=2006, W=76)
Pandas(Index=181, Team='ATL', Year=2006, W=79)
Pandas(Index=182, Team='BAL', Year=2006, W=70)
Pandas(Index=183, Team='BOS', Year=2006, W=86)
Pandas(Index=184, Team='CHC', Year=2006, W=66)
Pandas(Index=185, Team='CHW', Year=2006, W=90)
Pandas(Index=186, Team='CIN', Year=2006, W=80)
Pandas(Index=187, Team='CLE', Year=2006, W=78)
Pandas(Index=188, Team='COL', Year=2006, W=76)
Pandas(Index=189, Team='DET', Year=2006, W=95)
Pandas(Index=190, Team='FLA', Year=2006, W=78)
Pandas(Index=191, Team='HOU', Year=2006, W=82)
Pandas(Index=192, Team='KCR', Year=2006, W=62)
Pandas(Index=193, Team='LAA', Year=2006, W=89)
Pandas(Index=194, Team='LAD', Year=2006, W=88)
Pandas(Index=195, Team='MIL', Year=2006, W=75)
Pandas(Index=196, Team='MIN', Year=2006, W=96)
Pandas(Index=197, Team='NYM', Year=2006, W=97)
Pandas(Index=198, Team='NYY', Year=2006, W=97)
Pandas(Index=199, Team='OAK', Year=2006, W=93)
Pandas(Index=200, Team='PHI', Year=2006, W=85)
Pandas(Index=201, Team='PIT', Year=2006, W=67)
Pandas(Index=202, Team='SDP', Year=2006, W=88)
Pandas(Index=203, Team='SEA', Year=2006, W=78)
Pandas(Index=204, Team='SFG', Year=2006, W=76)
Pandas(Index=205, Team='STL', Year=2006, W=83)
Pandas(Index=206, Team='TBD', Year=2006, W=61)
Pandas(Index=207, Team='TEX', Year=2006, W=80)
Pandas(Index=208, Team='TOR', Year=2006, W=87)
Pandas(Index=209, Team='WSN', Year=2006, W=71)
Pandas(Index=210, Team='ARI', Year=2005, W=77)
Pandas(Index=211, Team='ATL', Year=2005, W=90)
Pandas(Index=212, Team='BAL', Year=2005, W=74)
Pandas(Index=213, Team='BOS', Year=2005, W=95)
Pandas(Index=214, Team='CHC', Year=2005, W=79)
Pandas(Index=215, Team='CHW', Year=2005, W=99)
Pandas(Index=216, Team='CIN', Year=2005, W=73)
Pandas(Index=217, Team='CLE', Year=2005, W=93)
Pandas(Index=218, Team='COL', Year=2005, W=67)
Pandas(Index=219, Team='DET', Year=2005, W=71)
Pandas(Index=220, Team='FLA', Year=2005, W=83)
Pandas(Index=221, Team='HOU', Year=2005, W=89)
Pandas(Index=222, Team='KCR', Year=2005, W=56)
Pandas(Index=223, Team='LAA', Year=2005, W=95)
Pandas(Index=224, Team='LAD', Year=2005, W=71)
Pandas(Index=225, Team='MIL', Year=2005, W=81)
Pandas(Index=226, Team='MIN', Year=2005, W=83)
Pandas(Index=227, Team='NYM', Year=2005, W=83)
Pandas(Index=228, Team='NYY', Year=2005, W=95)
Pandas(Index=229, Team='OAK', Year=2005, W=88)
Pandas(Index=230, Team='PHI', Year=2005, W=88)
Pandas(Index=231, Team='PIT', Year=2005, W=67)
Pandas(Index=232, Team='SDP', Year=2005, W=82)
Pandas(Index=233, Team='SEA', Year=2005, W=69)
Pandas(Index=234, Team='SFG', Year=2005, W=75)
Pandas(Index=235, Team='STL', Year=2005, W=100)
Pandas(Index=236, Team='TBD', Year=2005, W=67)
Pandas(Index=237, Team='TEX', Year=2005, W=79)
Pandas(Index=238, Team='TOR', Year=2005, W=80)
Pandas(Index=239, Team='WSN', Year=2005, W=81)
Pandas(Index=240, Team='ANA', Year=2004, W=92)
Pandas(Index=241, Team='ARI', Year=2004, W=51)
Pandas(Index=242, Team='ATL', Year=2004, W=96)
Pandas(Index=243, Team='BAL', Year=2004, W=78)
Pandas(Index=244, Team='BOS', Year=2004, W=98)
Pandas(Index=245, Team='CHC', Year=2004, W=89)
Pandas(Index=246, Team='CHW', Year=2004, W=83)
Pandas(Index=247, Team='CIN', Year=2004, W=76)
Pandas(Index=248, Team='CLE', Year=2004, W=80)
Pandas(Index=249, Team='COL', Year=2004, W=68)
Pandas(Index=250, Team='DET', Year=2004, W=72)
Pandas(Index=251, Team='FLA', Year=2004, W=83)
Pandas(Index=252, Team='HOU', Year=2004, W=92)
Pandas(Index=253, Team='KCR', Year=2004, W=58)
Pandas(Index=254, Team='LAD', Year=2004, W=93)
Pandas(Index=255, Team='MIL', Year=2004, W=67)
Pandas(Index=256, Team='MIN', Year=2004, W=92)
Pandas(Index=257, Team='MON', Year=2004, W=67)
Pandas(Index=258, Team='NYM', Year=2004, W=71)
Pandas(Index=259, Team='NYY', Year=2004, W=101)
Pandas(Index=260, Team='OAK', Year=2004, W=91)
Pandas(Index=261, Team='PHI', Year=2004, W=86)
Pandas(Index=262, Team='PIT', Year=2004, W=72)
Pandas(Index=263, Team='SDP', Year=2004, W=87)
Pandas(Index=264, Team='SEA', Year=2004, W=63)
Pandas(Index=265, Team='SFG', Year=2004, W=91)
Pandas(Index=266, Team='STL', Year=2004, W=105)
Pandas(Index=267, Team='TBD', Year=2004, W=70)
Pandas(Index=268, Team='TEX', Year=2004, W=89)
Pandas(Index=269, Team='TOR', Year=2004, W=67)
Pandas(Index=270, Team='ANA', Year=2003, W=77)
Pandas(Index=271, Team='ARI', Year=2003, W=84)
Pandas(Index=272, Team='ATL', Year=2003, W=101)
Pandas(Index=273, Team='BAL', Year=2003, W=71)
Pandas(Index=274, Team='BOS', Year=2003, W=95)
Pandas(Index=275, Team='CHC', Year=2003, W=88)
Pandas(Index=276, Team='CHW', Year=2003, W=86)
Pandas(Index=277, Team='CIN', Year=2003, W=69)
Pandas(Index=278, Team='CLE', Year=2003, W=68)
Pandas(Index=279, Team='COL', Year=2003, W=74)
Pandas(Index=280, Team='DET', Year=2003, W=43)
Pandas(Index=281, Team='FLA', Year=2003, W=91)
Pandas(Index=282, Team='HOU', Year=2003, W=87)
Pandas(Index=283, Team='KCR', Year=2003, W=83)
Pandas(Index=284, Team='LAD', Year=2003, W=85)
Pandas(Index=285, Team='MIL', Year=2003, W=68)
Pandas(Index=286, Team='MIN', Year=2003, W=90)
Pandas(Index=287, Team='MON', Year=2003, W=83)
Pandas(Index=288, Team='NYM', Year=2003, W=66)
Pandas(Index=289, Team='NYY', Year=2003, W=101)
Pandas(Index=290, Team='OAK', Year=2003, W=96)
Pandas(Index=291, Team='PHI', Year=2003, W=86)
Pandas(Index=292, Team='PIT', Year=2003, W=75)
Pandas(Index=293, Team='SDP', Year=2003, W=64)
Pandas(Index=294, Team='SEA', Year=2003, W=93)
Pandas(Index=295, Team='SFG', Year=2003, W=100)
Pandas(Index=296, Team='STL', Year=2003, W=85)
Pandas(Index=297, Team='TBD', Year=2003, W=63)
Pandas(Index=298, Team='TEX', Year=2003, W=71)
Pandas(Index=299, Team='TOR', Year=2003, W=86)
Pandas(Index=300, Team='ANA', Year=2002, W=99)
Pandas(Index=301, Team='ARI', Year=2002, W=98)
Pandas(Index=302, Team='ATL', Year=2002, W=101)
Pandas(Index=303, Team='BAL', Year=2002, W=67)
Pandas(Index=304, Team='BOS', Year=2002, W=93)
Pandas(Index=305, Team='CHC', Year=2002, W=67)
Pandas(Index=306, Team='CHW', Year=2002, W=81)
Pandas(Index=307, Team='CIN', Year=2002, W=78)
Pandas(Index=308, Team='CLE', Year=2002, W=74)
Pandas(Index=309, Team='COL', Year=2002, W=73)
Pandas(Index=310, Team='DET', Year=2002, W=55)
Pandas(Index=311, Team='FLA', Year=2002, W=79)
Pandas(Index=312, Team='HOU', Year=2002, W=84)
Pandas(Index=313, Team='KCR', Year=2002, W=62)
Pandas(Index=314, Team='LAD', Year=2002, W=92)
Pandas(Index=315, Team='MIL', Year=2002, W=56)
Pandas(Index=316, Team='MIN', Year=2002, W=94)
Pandas(Index=317, Team='MON', Year=2002, W=83)
Pandas(Index=318, Team='NYM', Year=2002, W=75)
Pandas(Index=319, Team='NYY', Year=2002, W=103)
Pandas(Index=320, Team='OAK', Year=2002, W=103)
Pandas(Index=321, Team='PHI', Year=2002, W=80)
Pandas(Index=322, Team='PIT', Year=2002, W=72)
Pandas(Index=323, Team='SDP', Year=2002, W=66)
Pandas(Index=324, Team='SEA', Year=2002, W=93)
Pandas(Index=325, Team='SFG', Year=2002, W=95)
Pandas(Index=326, Team='STL', Year=2002, W=97)
Pandas(Index=327, Team='TBD', Year=2002, W=55)
Pandas(Index=328, Team='TEX', Year=2002, W=72)
Pandas(Index=329, Team='TOR', Year=2002, W=78)
Pandas(Index=330, Team='ANA', Year=2001, W=75)
Pandas(Index=331, Team='ARI', Year=2001, W=92)
Pandas(Index=332, Team='ATL', Year=2001, W=88)
Pandas(Index=333, Team='BAL', Year=2001, W=63)
Pandas(Index=334, Team='BOS', Year=2001, W=82)
Pandas(Index=335, Team='CHC', Year=2001, W=88)
Pandas(Index=336, Team='CHW', Year=2001, W=83)
Pandas(Index=337, Team='CIN', Year=2001, W=66)
Pandas(Index=338, Team='CLE', Year=2001, W=91)
Pandas(Index=339, Team='COL', Year=2001, W=73)
Pandas(Index=340, Team='DET', Year=2001, W=66)
Pandas(Index=341, Team='FLA', Year=2001, W=76)
Pandas(Index=342, Team='HOU', Year=2001, W=93)
Pandas(Index=343, Team='KCR', Year=2001, W=65)
Pandas(Index=344, Team='LAD', Year=2001, W=86)
Pandas(Index=345, Team='MIL', Year=2001, W=68)
Pandas(Index=346, Team='MIN', Year=2001, W=85)
Pandas(Index=347, Team='MON', Year=2001, W=68)
Pandas(Index=348, Team='NYM', Year=2001, W=82)
Pandas(Index=349, Team='NYY', Year=2001, W=95)
Pandas(Index=350, Team='OAK', Year=2001, W=102)
Pandas(Index=351, Team='PHI', Year=2001, W=86)
Pandas(Index=352, Team='PIT', Year=2001, W=62)
Pandas(Index=353, Team='SDP', Year=2001, W=79)
Pandas(Index=354, Team='SEA', Year=2001, W=116)
Pandas(Index=355, Team='SFG', Year=2001, W=90)
Pandas(Index=356, Team='STL', Year=2001, W=93)
Pandas(Index=357, Team='TBD', Year=2001, W=62)
Pandas(Index=358, Team='TEX', Year=2001, W=73)
Pandas(Index=359, Team='TOR', Year=2001, W=80)
Pandas(Index=360, Team='ANA', Year=2000, W=82)
Pandas(Index=361, Team='ARI', Year=2000, W=85)
Pandas(Index=362, Team='ATL', Year=2000, W=95)
Pandas(Index=363, Team='BAL', Year=2000, W=74)
Pandas(Index=364, Team='BOS', Year=2000, W=85)
Pandas(Index=365, Team='CHC', Year=2000, W=65)
Pandas(Index=366, Team='CHW', Year=2000, W=95)
Pandas(Index=367, Team='CIN', Year=2000, W=85)
Pandas(Index=368, Team='CLE', Year=2000, W=90)
Pandas(Index=369, Team='COL', Year=2000, W=82)
Pandas(Index=370, Team='DET', Year=2000, W=79)
Pandas(Index=371, Team='FLA', Year=2000, W=79)
Pandas(Index=372, Team='HOU', Year=2000, W=72)
Pandas(Index=373, Team='KCR', Year=2000, W=77)
Pandas(Index=374, Team='LAD', Year=2000, W=86)
Pandas(Index=375, Team='MIL', Year=2000, W=73)
Pandas(Index=376, Team='MIN', Year=2000, W=69)
Pandas(Index=377, Team='MON', Year=2000, W=67)
Pandas(Index=378, Team='NYM', Year=2000, W=94)
Pandas(Index=379, Team='NYY', Year=2000, W=87)
Pandas(Index=380, Team='OAK', Year=2000, W=91)
Pandas(Index=381, Team='PHI', Year=2000, W=65)
Pandas(Index=382, Team='PIT', Year=2000, W=69)
Pandas(Index=383, Team='SDP', Year=2000, W=76)
Pandas(Index=384, Team='SEA', Year=2000, W=91)
Pandas(Index=385, Team='SFG', Year=2000, W=97)
Pandas(Index=386, Team='STL', Year=2000, W=95)
Pandas(Index=387, Team='TBD', Year=2000, W=69)
Pandas(Index=388, Team='TEX', Year=2000, W=71)
Pandas(Index=389, Team='TOR', Year=2000, W=83)
Pandas(Index=390, Team='ANA', Year=1999, W=70)
Pandas(Index=391, Team='ARI', Year=1999, W=100)
Pandas(Index=392, Team='ATL', Year=1999, W=103)
Pandas(Index=393, Team='BAL', Year=1999, W=78)
Pandas(Index=394, Team='BOS', Year=1999, W=94)
Pandas(Index=395, Team='CHC', Year=1999, W=67)
Pandas(Index=396, Team='CHW', Year=1999, W=75)
Pandas(Index=397, Team='CIN', Year=1999, W=96)
Pandas(Index=398, Team='CLE', Year=1999, W=97)
Pandas(Index=399, Team='COL', Year=1999, W=72)
Pandas(Index=400, Team='DET', Year=1999, W=69)
Pandas(Index=401, Team='FLA', Year=1999, W=64)
Pandas(Index=402, Team='HOU', Year=1999, W=97)
Pandas(Index=403, Team='KCR', Year=1999, W=64)
Pandas(Index=404, Team='LAD', Year=1999, W=77)
Pandas(Index=405, Team='MIL', Year=1999, W=74)
Pandas(Index=406, Team='MIN', Year=1999, W=63)
Pandas(Index=407, Team='MON', Year=1999, W=68)
Pandas(Index=408, Team='NYM', Year=1999, W=97)
Pandas(Index=409, Team='NYY', Year=1999, W=98)
Pandas(Index=410, Team='OAK', Year=1999, W=87)
Pandas(Index=411, Team='PHI', Year=1999, W=77)
Pandas(Index=412, Team='PIT', Year=1999, W=78)
Pandas(Index=413, Team='SDP', Year=1999, W=74)
Pandas(Index=414, Team='SEA', Year=1999, W=79)
Pandas(Index=415, Team='SFG', Year=1999, W=86)
Pandas(Index=416, Team='STL', Year=1999, W=75)
Pandas(Index=417, Team='TBD', Year=1999, W=69)
Pandas(Index=418, Team='TEX', Year=1999, W=95)
Pandas(Index=419, Team='TOR', Year=1999, W=84)
Pandas(Index=420, Team='ANA', Year=1998, W=85)
Pandas(Index=421, Team='ARI', Year=1998, W=65)
Pandas(Index=422, Team='ATL', Year=1998, W=106)
Pandas(Index=423, Team='BAL', Year=1998, W=79)
Pandas(Index=424, Team='BOS', Year=1998, W=92)
Pandas(Index=425, Team='CHC', Year=1998, W=90)
Pandas(Index=426, Team='CHW', Year=1998, W=80)

Aqui,podemos imprimir el último indice usando ``.index``

In [ ]:
print(r_namedtuple.Index)

1231

Tambien podemos imprimir  el equipo con ``.Team``

In [ ]:
print(r_namedtuple.Team)

WSA

Cuando comprarmos ``.iterrows()`` con `ìtertuples()``vemos que hay basntante mejora

In [ ]:
%%timeit

for r_tupla in team_winds_df.iterrows():
    print(r_tupla)

In [ ]:
%%timeit
for r_namedtuple in team_winds_df.itertuples():
  print(r_namedtuple)

La razon por la que ``itertuples`` es mas eficiente se debe a la forma en que cada método almacena su salida dado que ``iterrows`` devuelve mas valores de cada fila como una serie de pandas hay mas sobrecarga.

Una nota rápida más sobre las diferencas entre estos métodos,cuando usamos ``iterrows`` podemos usar corcehetes para hacer referenc ia a una columna dentro de nuestro datafrane.

In [ ]:
for r_tupla in team_winds_df.iterrows():
    print(r_tupla[1]['Team'])

Si usamos la misma sintaxis con ``.itertuples``obtenemos un error .

In [ ]:
for r_namedtuple in team_winds_df.itertuples():
  print(r_namedtuple['Team'])

TypeError: ignored

Pero lo podriamos solucionar de la siguiente manera:

In [ ]:
for r_namedtuple in team_winds_df.itertuples():
  print(r_namedtuple.Team)



---



---

# Pandas que alteran el Looping.

Para poder eacribir código eficiente, queremos evitar los bucles cuando sea posible.Exploraremos una alterantiva al uso de ``.iterrows()``& ``.itertuples``para realizar cálculos en un DataFrame.

Conitnuaremos usando nuestro DatSet de béisbol y volveremos a visitar la función ``calc_vict_porc`` que hemos usado en el pasado.Nos gustaria crear una nueva ciolumna en nuestro DF llamado *RD* que almacena las diferencias de ejecución decada equipo a lo largo de dos años.

En lecciones anteriores , hicimos esto con un bucle for utilizando ``.iterrows`` o ``.itertuples``, aqui usarmeos ``.iterrows``como ejemplo.

Observemos que estamos iterando sobre data con un bucle for , pasando las columnas ``RS`` &  ``RA``de cada fila en nuestra función y luego agregando el resultado a cad fila de nuestra lista.

In [7]:
dif_iterrows = []
for i,col in data.iterrows():
  dife = calc_vict_porc(col['RS'], col['RA'])
  dif_iterrows.append(dife)

data['RD'] = dif_iterrows
print(data)

     Team League  Year   RS   RA  ...  RankPlayoffs    G   OOBP   OSLG    RD
0     ARI     NL  2012  734  688  ...           NaN  162  0.317  0.415  1.07
1     ATL     NL  2012  700  600  ...           5.0  162  0.306  0.378  1.17
2     BAL     AL  2012  712  705  ...           4.0  162  0.315  0.403  1.01
3     BOS     AL  2012  734  806  ...           NaN  162  0.331  0.428  0.91
4     CHC     NL  2012  613  759  ...           NaN  162  0.335  0.424  0.81
...   ...    ...   ...  ...  ...  ...           ...  ...    ...    ...   ...
1227  PHI     NL  1962  705  759  ...           NaN  161    NaN    NaN  0.93
1228  PIT     NL  1962  706  626  ...           NaN  161    NaN    NaN  1.13
1229  SFG     NL  1962  878  690  ...           2.0  165    NaN    NaN  1.27
1230  STL     NL  1962  774  664  ...           NaN  163    NaN    NaN  1.17
1231  WSA     AL  1962  599  716  ...           NaN  162    NaN    NaN  0.84

[1232 rows x 16 columns]

Esto nos da el restulado , pero no es la manera más eficiente,una alternativa al uso de un bucle para iterar sobre un DataFrame es usar el método de pandas ``.apply()``.

Esta función actúa como la funcion *map* que hemos usado en el pasado,toma esa función como entrada y la aplica al DataFrame completo.Dado que trabajamos con dato tabulares debemos especificar un eje en el que nos gustaria que actúe nuestra función,usar un ``0``para columnas o un ``1``para aplicarlo en las filas.

Al igual que la funcion ``map``, el metodo ``apply`` se puede usar con funciones anonimas o lambda.A continuación veamos cómo usariamos el méodo de aplicación de puntos para calcular nuestro diferenciales de carrera.

* Primero llamamod ``.apply``en nuestro conjunto de datos.

* Luego,usamos una funcion anonima , para iterar sobre las filas del DataFrame.
  **Notemos que nuestro argumento para lambda es row, ya que estamos aplicando a cada fila del dataFrame**

  Para cada fila, tomamos las columnas ``RS``y ``RA``y las pasamos a nuestra función ``calc_vict_porc``-

* Por ultimo especificamos nuestro eje para indicar que queremos iterar sobre filas en lugar de columnas.

In [8]:
data.apply(
    
    lambda row: calc_vict_porc(row['RS'], row['RA']),

    axis = 1
)

0       1.07
1       1.17
2       1.01
3       0.91
4       0.81
        ...
1227    0.93
1228    1.13
1229    1.27
1230    1.17
1231    0.84
Length: 1232, dtype: float64

Cuando usamos el método de aplicación de puntos para calcilas las diferencia de ejecucion no necesitamos utilizar un bucle for ,podemos recopilas nuestros datos de ejecucion directamente en un objeto llamado ``dif_apply``

In [11]:
dif_apply = data.apply(
    lambda row: calc_vict_porc(row['RS'],row['RA']),
                               axis=1
)

data['RD'] = dif_apply
print(data)

     Team League  Year   RS   RA  ...  RankPlayoffs    G   OOBP   OSLG    RD
0     ARI     NL  2012  734  688  ...           NaN  162  0.317  0.415  1.07
1     ATL     NL  2012  700  600  ...           5.0  162  0.306  0.378  1.17
2     BAL     AL  2012  712  705  ...           4.0  162  0.315  0.403  1.01
3     BOS     AL  2012  734  806  ...           NaN  162  0.331  0.428  0.91
4     CHC     NL  2012  613  759  ...           NaN  162  0.335  0.424  0.81
...   ...    ...   ...  ...  ...  ...           ...  ...    ...    ...   ...
1227  PHI     NL  1962  705  759  ...           NaN  161    NaN    NaN  0.93
1228  PIT     NL  1962  706  626  ...           NaN  161    NaN    NaN  1.13
1229  SFG     NL  1962  878  690  ...           2.0  165    NaN    NaN  1.27
1230  STL     NL  1962  774  664  ...           NaN  163    NaN    NaN  1.17
1231  WSA     AL  1962  599  716  ...           NaN  162    NaN    NaN  0.84

[1232 rows x 16 columns]

Despues de crear nuestra nueva columna e imprimir el dataframe nosotros,veremos que nuestros resultados son idénticos a los enfoques anteriores.

# Iterarndo Óptimamente en Pandas.

Hemos recorrido un largo camino desde nuestro primer enfoque ``.iloc``para iterar sobre un DataFrame,cada enfoque que hemos discutido realmente ha mejorado el rendimiento.Pero estos enfoques se centrarn enrealizar cálculos para cada fila de nuestro DataFrame individualmente.

En esta sección exploraremos algunos elementos internos de panas que nos permiten realizar cálculos aún más eficientemente.

Como sabemos , debemos tratar de mantenernos alejados de los bucles cuando escribimos código en Python y trabajar con Pandas no es la excepción.

En las secciones anteriores , estábamos iterando sobre un DataFrame fila por fila para realizar un cálculo.Pandas es una biblioteca que se basa en NumPy,esto significa que cada Pnadas DataFrame que usamos , puede aprovechar las caracteristicas eficientes de las matrices de Numpy.

## ¿ Recuerdas la funcionalidad de transmisión de una matriz?

La transmisión permite que las matrices NumPy vectoricen las operaciones, por lo que se realizan en todos los ejmentos de un objeto a la vez.

Esto nos permite realizar cálculos de manera eficiente en matrices enteras,exploremos estos conceptos con algunos ejemplos.

In [16]:
print(data)

     Team League  Year   RS   RA  ...  RankPlayoffs    G   OOBP   OSLG    RD
0     ARI     NL  2012  734  688  ...           NaN  162  0.317  0.415  1.07
1     ATL     NL  2012  700  600  ...           5.0  162  0.306  0.378  1.17
2     BAL     AL  2012  712  705  ...           4.0  162  0.315  0.403  1.01
3     BOS     AL  2012  734  806  ...           NaN  162  0.331  0.428  0.91
4     CHC     NL  2012  613  759  ...           NaN  162  0.335  0.424  0.81
...   ...    ...   ...  ...  ...  ...           ...  ...    ...    ...   ...
1227  PHI     NL  1962  705  759  ...           NaN  161    NaN    NaN  0.93
1228  PIT     NL  1962  706  626  ...           NaN  161    NaN    NaN  1.13
1229  SFG     NL  1962  878  690  ...           2.0  165    NaN    NaN  1.27
1230  STL     NL  1962  774  664  ...           NaN  163    NaN    NaN  1.17
1231  WSA     AL  1962  599  716  ...           NaN  162    NaN    NaN  0.84

[1232 rows x 16 columns]

Como pandas esta contruido sobre NumPy , podemos tomar cualquiera de estos valores del DataFrame como una matriz de NumPy utilizando el método ``.values``

Aqui estamos recopilano los valores de la columna W en una matriz Numpy llamada vict_np,cuando imprimimos el tipo de dato vemos que es una matriz NumPy

In [14]:
vict_np = data['W'].values
print(type(vict_np))

<class 'numpy.ndarray'>

La belleza de saber que Pandas se bada en Numpy puede ser visto al aprovechar las habilidades de transmisión de una matriz NumPy,recordemos que podemos vectorizar nuestros calculos y realizarlos en conjuntos completos de una vez.

En lugar de recorer un DataFrame y tratar cada fila de forma independiente, colo lo hemos hecho con ``.iterrows``.

Podemos realizar cálculos en lsa matrices NumPy subyacentes a nuestro conjunto de datos ``data``.

In [15]:
data['RS'].values - data['RA'].values

array([  46,  100,    7, ...,  188,  110, -117])

Podemos ver que nuestro código se vuielve mucho más legible,aqui podemos ver como se calculan las diferencias de ejecucción.

In [17]:
dife_np = data['RS'].values - data['RA'].values
data['RD'] = dife_np
print(data)

     Team League  Year   RS   RA  ...  RankPlayoffs    G   OOBP   OSLG   RD
0     ARI     NL  2012  734  688  ...           NaN  162  0.317  0.415   46
1     ATL     NL  2012  700  600  ...           5.0  162  0.306  0.378  100
2     BAL     AL  2012  712  705  ...           4.0  162  0.315  0.403    7
3     BOS     AL  2012  734  806  ...           NaN  162  0.331  0.428  -72
4     CHC     NL  2012  613  759  ...           NaN  162  0.335  0.424 -146
...   ...    ...   ...  ...  ...  ...           ...  ...    ...    ...  ...
1227  PHI     NL  1962  705  759  ...           NaN  161    NaN    NaN  -54
1228  PIT     NL  1962  706  626  ...           NaN  161    NaN    NaN   80
1229  SFG     NL  1962  878  690  ...           2.0  165    NaN    NaN  188
1230  STL     NL  1962  774  664  ...           NaN  163    NaN    NaN  110
1231  WSA     AL  1962  599  716  ...           NaN  162    NaN    NaN -117

[1232 rows x 16 columns]

Podemos ver que neustros resultados son ídenticos a todos los otros enfoques.