![texto alternativo](https://raw.githubusercontent.com/Chilangdon20/PYTHON/master/Curso%20Basico/CursoExpress/Imagenes/Baby%20DATA.png)

# Reemplazando Valores en un DataFrame.

### INTRODCUCCIÓN:

En estea segunda seccion , nos centraremos en la funcion ``replace``y veremos como se puede usar para reemplazar un valor escalar en un DataFrame de Pandas.

En este capitulo trabajararemos con un DataSet que uncluye los nombres más populares que se dieron a los récien nacidos entre 2011 y 2016.

Nuestro conjunto de datos incluye , entre otra información , los nombres más populares en los Estados Unidos por año ,genero y etnia.

Por ejemplo , el nombre Chole fue clasificado segundo en popularidad entre todas las mujeres recién nacidas de etnia asiática e isleña del Pacífico en 2011.

In [30]:
import pandas as pd
data = pd.read_csv("/content/Popular_Baby_Names.csv")
best_name_woman = data.iloc[0:2]
print(best_name_woman)

   Year of Birth  Gender  ... Count Rank
0           2011  FEMALE  ...   119    1
1           2011  FEMALE  ...   106    2

[2 rows x 6 columns]

En pandas , podemos reemplazar los valores de una manera muy intuitiva, simplemente podemos definir que valores queremos reemplazar y luego con que queremos remplazarlos.

Podemos utilizar cualquier método para seleccionar nuestras entradas de interés.

En el siguiente ejemplo , reemplazaremos a todos los bebes clasificados como varones por niños.

Primero seleccionamos todas las entradas de nuestra función que corresponde a hombre y simplemente lo reemplzamos con la palabra ``boy``

In [37]:
import time

In [38]:
start_time = time.time()
data['Gender'].loc[data.Gender=='MALE']  = 'BOY'
print("Remplazando valores usando .loc[]: {} segundos".format(time.time() - start_time))

Remplazando valores usando .loc[]: 0.0032606124877929688 segundos

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

¿Pero es la forma más rápida de realizar esta acción?


Como la mayorua de las operaciones que estamos cubriendo, pandas tiene funciones integradas optimizadas:

## ``.replace()``

Cuando queremos reemplazar un valor escalar con otro simple valor escalar, la sintaxis de esta función es simple.Denotamos el valor que queremos reempazar y luego el valor con el que queremos reemplazarlo.

Como antes , cronometramos el desempeño de la funcion ``.replace``todas las entradas clasificadas como niño.

In [36]:
start_time = time.time()
data['Gender'].replace('MALE','BOY',inplace=True)
print("El tiempo usando .replace() es: {} segundos".format(time.time() - start_time))

El tiempo usando .replace() es: 0.001562356948852539 segundos

A continuación remplazaremos todas las bebes cuyo genero sea hembra lo cambiaremos a niña.Recordemos que el parametro `ìnplace`` lo establecemos como verdadero para asignar el resultado nuevamente al DataFrame original.

In [41]:
data['Gender'].replace('FEMALE','GIRL',inplace=True)
data.head()

   Year of Birth Gender  ... Count Rank
0           2011   GIRL  ...   119    1
1           2011   GIRL  ...   106    2
2           2011   GIRL  ...    93    3
3           2011   GIRL  ...    89    4
4           2011   GIRL  ...    75    5

[5 rows x 6 columns]

## Remplazando valores usando listas

A continuación veremos como podemos usar listas para reemplazar valores únicos o múltiples.Ya sabemos cómo reemplazar un valor escalar en un DataFrame de Pandas.

Sin embargo puede haber casoso en los que nececsitemos reemplazar varios valores al mismo tiempo.Veamos como hacer esto.Seguiremos usando el conjunto de datos usados anteriormente.Nuestro objetivo es cambiar todas las etnias clasificadas como *WHITE NON HISPANIC* o *WHITE NON HISP* a *WNH*.

Utilzando la función los ,localizaremos a los bebés de las etnias que estamos buscando, usando la funcion | y luego asignaremos el nuevo valor.

Como siempre , también medimos el tiempo de CPU necesario para esta operación.

In [44]:
start_time = time.time()
data['Ethnicity'].loc[(data['Ethnicity'] == 'WHITE NON HISPANIC') |
                      (data['Ethnicity'] == 'WHITE NON HISP')] == 'WNH'
print("Tiempo usando el metodo .loc : {} segundos".format(time.time()-start_time))

Tiempo usando el metodo .loc : 0.005068302154541016 segundos

Intentemos acelerar este proceso usando pandas, como vimos anteriormente , la sintaxis de ``.replace()`` es muy simple primero escribimos lo que queremos remplazar y luego con qué queremos reemplazarlo.

En lugar de un escalar, elegimos reemplazar una lista de valores con un solo valor.

In [45]:
start_time= time.time()
data['Ethnicity'].replace(['WHITE NON HISPANIC','WHITE NON HISP'],'WNH',inplace=True)
print("El tiempo usando la funcion .replace es: {} segundos".format(time.time()- start_time))

El tiempo usando la funcion .replace es: 0.0023462772369384766 segundos

Asi es... con la función replace() , pasamos los valores que queremos reemplazar como una lista y vemos que es mucho mas ssencillo de escribir y mas eficiente que haciendo el metodo pasado.

A continuación queremos remplazar todos los valores que presenten `WHITE NON HISP` con `WHITE NON HISPANIC` & `BLACK NON HISP` con `BLACK NON HISPANIC`.

Una posible solución sería usar dos diferentes funciones replace.

In [53]:
start_time= time.time()
data['Ethnicity'].replace(['WHITE NON HISP'],'WHITE NON HISPANIC',inplace=True)
data['Ethnicity'].replace(['BLACK NON HISP'],'BLACK NON HISPANIC',inplace=True)
print("El tiempo usando dos funciones replace es : {} segundos".format(time.time()-start_time))

El tiempo usando dos funciones replace es : 0.004807233810424805 segundos

Pero hay una forma mucho más eficiente , en cambio usamos solo una funcion ``replace``que toma como entrada una lista que contiene las entradas que deseamos cambiar con los nuevos valores.

In [49]:
start_time=time.time()
data['Ethnicity'].replace(['WHITE NON HISP','BLACK NON HISP'],
                          ['WHITE NON HISPANIC','BLACK NON HISPANIC'],
                          inplace=True)
print("El tiempo usando solo una funcion .replace es : {} segundos".format(time.time()-start_time))

El tiempo usando solo una funcion .replace es : 0.0019538402557373047 segundos

Podemos observar que hay una mejora significativa en cuanto al tiempo de ejecución.

## Remplazando valores usando Diccionarios.

Analicemos ahora cómo podemos usar los diccionarios para remplazar valores en un DataFrame de manra eficiente.De manera similar a las listas podemos usar una estructura de datos diferente para mapear valores que queremos remplazar por los que deberian reemplazarse.

Los diccionarios son una flecha valiosa en nuetro repertorio d eherramientas Python y servira perfecto para nuestro proposito.


Vamos a utilizar diccionarios para reemplazar el género de cada boy por niño y el genero de cada girl por niña.

La sintaxis es muy simple , escribimos el valor que queremos remplazar con el valor remplazado usando dos puntos ,podriamos hacer lo mismo con las listas pero es más detallado.

In [55]:
start_time = time.time()
data['Gender'].replace({'BOY':'NIÑO','GIRL':'NIÑA'},
                       inplace=True)
print("El tiempo usando diccionarios es: {} segundos".format(time.time()-start_time))

El tiempo usando diccionarios es: 0.0014917850494384766 segundos

En general, trabajar con diccionarios en Python es muy eficiente en comparacion con las listas.Buscar en una lista requiere un pase en cada elemento de la lista, mientras que en un diccionario , se dirige instantaneamente a la clave que coincide con la entrada.

Sin embargo la comparacion es un poco injusta, ya que ambas estructuras tienen diferentes propositos.El uso de diccionarios nos permite reemplazar con los mismo valores en varias collumnas diferentes.

En todos los ejemplos anteriores especificamos la columna de la que provienen los valores a reemplazar.Ahora vamos a reemplazar varios valores de una misma columna con un valor común.

Queremos clasificar todas las etnias en tres grande categorias, negro ,asiatico y blanco.

In [57]:
start_time = time.time()
data.replace({'Ethnicity': {'ASIAN AND PACI':'ASIAN','ASIAN AND PACIFIC ISLANDER':'ASIAN',
                           'BLACK NON HISPANIC':'BLACK','BLACK NON HISP':'BLACK',
                           'WHITE NON HISPANIC':'WHITE','WHITE NON HISP':'WHITE'}})
print("Tiempo usando .replce() con un diccionario: {} segundos ".format(time.time()-start_time))

Tiempo usando .replce() con un diccionario: 0.006624937057495117 segundos

Podemos ver que es muy eficiente usar nuestro código usando diccionarios .


---