# Profundizaje en Clases.

## Introducción:

Una vez terminada la parte de introducción es hora de dedicarnos a darle a la teoria y al código, en esta sección cubriremos cómo construir una clase, que como recordaremos es el molde de un objeto asi que empecemos.

En esta sección crearemos una clase que nos ayudara a comprender cómo funcionan los Padas DataFrame.Recordemos que un DataFrame es una estructura de tabla similar a Excel que se basan en grupos de matrices NumPy.

Dentro de un DataFrame podemos hacer referencia a varias partes del DataFrame para realizar operaciones en ellos y crear DataFraes apartir de archivos CSCV como haremos a continuacion:

In [8]:
import pandas as pd
dataF = pd.read_csv('https://assets.datacamp.com/production/repositories/2097/datasets/054e2f80f31a05a79db90f58068523b5a92d1ba1/mtcars.csv')
dataF

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

Llamaremos a nuestra clase DataS que tomara ideas detrás del Pandas DataFrame para recrearlas desde 0.

Desde  DataS , construiremos una clase que toma un archivo de datos como entrada y nos devuelve alguna información al respecto.En esta sección veremos mas a detalle como funcionara nuestro DataShell.

En el notebook pasado , creamos un marcador de posicion para una clase (`pass`), ahora veamos la clse cuando está completamente desarrollada.

* Primero tiene un constructor con un método init.

**Recordemos que los métodos son funciones de clase.**

* También tiene varios métodos, incluido uno que crea la capa de datos apartir de un objeto de archivo y otro que puede cambiar el nombre de las columnas en la capa de datos.

* Tambie1n tiene un método para imprimir el contenido de la clase y uno para crear un resumen de cinco cifras.

In [9]:
import numpy as np
import statistics as stats
class DataS:
  def __init__(self,filename):
      self.filename = filename

  def create_dataS(self):
      self.array = np.genfromtxt(self.filename,delimiter=',',dtype=None)
  
  def renom_column(self,old_colname,new_col):
      for index,values in enumerate(self.array[0]):
          if value == old_colname.encode('UTF-8'):
            self.array[0][index] = new_col
  
  def show_s(self):
      print(self.array)

  def five_figure_res(self,col_pos):
    statistics = stats.describe(self.array[1:,col_pos].astype(np.float)) 
    return f'Five-figure stats of column {col_pos}:{statistics}'

Descrubriemos mas adelante linea por linea de nuestra clase `DataS`, por ahora entendamos que la primera funcionalidad básica de esta clase es tomar un nombre de archivo CSV , crear una matriz NumPy de cada una de las filas y realizar cambios en la matriz NumPy.

Recordemos que en el último capitulo , creamos un marcador de posición de nuestra clase DataS donde la nombramos , pero no transmitio ninguna información adicional.


Hechemos un vistazo a como se verá una capa de datos una vez que se desarrolle.Como revisión,las caracteristicas basicas de una clase son:

* Atributos.
* Constructores
* Métodos.


Comencemos con la función `__init__`:

Esto se conoce como el **constructor de la clase** , podemos notar esos guiones bajos especiales que inicializan la clase.Dentro del constructor , vemos que la variable de nombre `file` se pasa como un parámetro.

Esta es una variable de case o atributo y se inicializa cuando creamos la clase,entonces hay 2 métodos:

* Uno que crea la capa de datos tomando un archivo CSV y regresa una matriz.

* Otro que cambia el nombre de las columnas en la capa de datos.

In [ ]:
class DataS:
  def __init__(self,filename):
      self.filename = filename

Las palabras clave que tenemos que tomar en cuenta son:

* self

* return

* atributo de clase
* nombre del archivo

Todo esto lo veremos a detalle mas adelante.Por ahora veamos cómo llamariamos a esta clase con un archivo especifico:

* Primero,creamos nuestra clase, con algunos métodos y atributos

In [11]:
class DataS():
    def __init__(self,filename):
      self.filename = filename

Luego instanciamos la clase asignandole una variable & nuestra clase toma una entrada 'DataF'

In [12]:
our_data_shell = DataS('DataF')

Finalmente llamamos a la instancia de clase llamando a la variable.

In [13]:
our_data_shell

Y asi de simple creamos y llamamos nuestra primera clase.

## Instanciando una clase.

Como aprendimos anteriormente, una clase es como un plan: podemos hacer muchas copias de nuestra clase.Cuando hacemos esto, decimos que estamos instanciando nuestra clase. Estas instancias se llaman objetos.

A continuación realizaremos un ejercicio para entender mejor todo esto:

In [14]:
# Creamos una clase vacia: Paranoid
class Paranoid:
  
    # Declaración de aprobación
    pass

# Instanciamos Paranoid: BlackSabbath
BlackSabbath = Paranoid()

# Imprimimos BlackSabbath
print(BlackSabbath)

<__main__.Paranoid object at 0x7fe2a98d2d68>

# _ _init_ _cializando una clase.

Introducción:

Es posible que hayas visto un método interesante cuando creamos nuestra clase `__init__` .Tambien pudiste haber notado que cada método se toma a si mismo como parametro.pero ¿Que significan estas dos cosas?


Cuando  hemos visto objetos antes , vimos que tienen variables y métodos de clase,un método importante y especial es el método `init`.

El método `init` rambien se conoce como un constructor y su trabajao es configurar el objeto de tal manera que lo pongamos desde el principio.

Este se llama automaticamente cuando se crea el objeto y por lo tanto toma valores fuera del objeto o establece valores dentro del objeto.

## ANALOGIA:

Pensemoslo cuando estamos cocinando un platillo y estamos en la estufa okey, ponemos una olla en la estufa como parte de la receta la olla puede estar vacia **POR AHORA**, pero debe estar alli para contener los otros ingredientes.


En este ejemplo creamos el constructor pero no le pasamos nada:

In [18]:
class Cake:

  def __init__(self):
    pass

Asi como init puede estar vacia , tambien puede tomar valores, estos valores se crean y pasan a la clase y se puede acceder a ellos desde nuestra clase mas adelante.

En el caso de un Pastel por ejemplo, tal vez creando una receta queremos comprobar si tiene pan.Los pasteles o la mayoria siempre tienen pan y nuestra clase reflejaria eso.

En este segundo caso , establecemos el atributo `tail` de cla clase en Yes y apartir de ahora cada objteo que sea de la clase Cake tendra pan.

In [ ]:
class Cake:
  def __init__(self):
    self.tail = 'Yes'

Ahora veamos como funciona init con nuestra clase `DataS` creada anteriormente:

Como recordaremos en Pandas hay un método para leer nombres de archivo, llamado `read_csv` que pueden tomar una serie de variables.Si llamamos a `read_csv` debemos pasar el nombre de un archivo.

In [19]:
import pandas as pd
# Molde en pandas read_csv
data = pd.read_csv('mtcars.csv')

Estamos creando una clase llamada 'Datas' y la estamos inicializando con un nombre de archivo, en este caso el nombre del archivo se pasa desde fuera de la clase, necesitamos pasar un nombre de archivo para crear ese objeto , de lo contrario nuestra clase es inutil.

In [20]:
class DataS:
  def __init__(self,filename):
    self.filename = filename

Otra forma de pensarlo es que cuando creamos un objeto la computadora necesita asignar memoria al objeto, otra forma de hacerlo es tener un constructor que permita hacerlo.

La variable `filename` ahora esta disponible para que la usen todos los miembros (métodos de la clase).

La otra parte que hemos estado ignorando hasta ahora es `self`.Dentro del constructor , `self`representa la instancia de la clase oel objeto especíco.

RECORDATORIO: **Un objeto es una instancia de una clase**.

Ese objeto necesita una forma de hacer referencia a esa instancia, la primera variable siempre es una referencia a la instancia actual de la clase.

En el siguiente caso la instancia de la clase es la misma , por lo que ponemos `self`.

Exlpicado de manera diferente, cuando creamos un objeto por ejemplo :

### Inicializando car_data_s

In [23]:
car_data_s = DataS('data')
def __init__(car_data_s,data):
  self.filenmae = filename

En la linea 21 de código car_data_s tiene un método que inicializa ese objeto, lo primero que se inicializa es `self`, que es esa instancia específica de la clase `car_data_s`.

Luego se inicializa con el nombre de archivo de ese DataS que es `'data'`.

### Inicializando `transact_book`.

In [24]:
transact_book = DataS('https://assets.datacamp.com/production/repositories/5654/datasets/1e5276e5a24493ec07b44fe99b46984f2ffa4488/bookstore_transactions.csv')

In [ ]:
def __init__(transact_book,'dokstore_transactions.csv'):
  self.filename = filename

Cuando inicializamos `transact_book` se inicializa de la misma manera desde esa clase, pero utiliza un nombre de archivo diferente y transact_book como entrada por que ahora se refiere asi mismo.

Casi terminando self no es una palabra clave, podemos ver en Python las palabras claves si imprimimos:

In [27]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

odemos llamar a la referencia de objeto cualquier cosa incluido Juanito o alguna otra palabra, pero las practicas comunes es unas `self`.

In [28]:
def __init__(juanito,filename):
  juanito.filename = filename

## Contenido Extra:

`__init__` es un método de inicialización utilizado para construir instancias de clase de manera personalizada. En este ejercicio simplemente presentaremos la utilización del método.


Variables de instancia.

Las instancias de clase son útiles porque podemos almacenar valores en ellas en el momento de la instanciación. Almacenamos estos valores en variables de instancia. ¡Esto significa que podemos tener muchas instancias de la misma clase cuyas variables de instancia contienen valores diferentes!

In [29]:
# Creamos clase DataShell
class DataShell:
  
	# Inicialice la clase con argumentos self y integerInput
    def __init__(self, integerInput):
      
		# Establecer data como variable de instancia y asignar el valor de integerInput
        self.data = integerInput

# Declaro variable 
x = 10       

# Instanciar variable pasando argumento x
my_data_shell = DataShell(x)

# imprimimos
print(my_data_shell.data)

10

Observe que las variables de instancia viven en el cuerpo del método de inicialización, ya que se inicializan cuando se instancia el objeto. También es importante notar que están precedidos por uno mismo, ya que esto se refiere a la instancia misma.

Variables de instancia múltiple.

No estamos limitados a declarar solo una variable de instancia; de hecho, podemos declarar muchos!

In [32]:
# Creamos clase: DataShell
class DataShell:
  
	# Inicializamos con: self, identifier and data arguments
    def __init__(self, identifier, data):
      
		# Establecer el identificador y los datos como variables de instancia, asignando el valor de los argumentos de entrada
        self.identifier = identifier
        self.data = data

# Declarar variable x = 100, & y =  1...5
x = 100
y = [1,2,3,4,5]

# Instanciar DataShell pasando x e y como argumentos: my_data_shell
my_data_shell = DataShell(x, y)

# imprimir my_data_shell.identifier
print(my_data_shell.identifier)

# imprimir my_data_shell.data
print(my_data_shell.data)

100
[1, 2, 3, 4, 5]



---



---